<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108363281300-3ilkoosqglkvl6pn5obua7eqmq6nqa99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108363281300-3ilkoosqglkvl6pn5obua7eqmq6nqa99</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>108363281300-m5hojnboibjabra5b0r3qt4tfdvh1p8a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDdGJB6grmuPferPRK4EtWfIKB47PD6bKk</string>
	<key>GCM_SENDER_ID</key>
	<string>108363281300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sciempirica.knoics</string>
	<key>PROJECT_ID</key>
	<string>knoics-3ad50</string>
	<key>STORAGE_BUCKET</key>
	<string>knoics-3ad50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108363281300:ios:800e6f4475d0f65f</string>
	<key>DATABASE_URL</key>
	<string>https://knoics-3ad50.firebaseio.com</string>
</dict>
</plist>